.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .image-swiper-button-next, .image-swiper-button-prev {
  padding:35px
} */
